* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: "Yekan Bakh FaNum";
    list-style: none;
    text-decoration: none;
}

:root {
    --gray-color: #62666d;
    --black-color: #0c0c0c;
    --main-color: #ee384e;
    --border-color: #e0e0e2;
    --white-color: #ffffff;
    --placeholder-color: #a1a3a8;
    --input-color: #f0f0f1;
    --bottom-shadow: 0 1px 0 rgba(0, 0, 0, 0.14), 0 2px 0 rgba(0, 0, 0, 0.05);
}

::placeholder{
    color: var(--placeholder-color);
}